flask
flask-cors
flask-jwt-extended
PyPDF2
pymupdf
reportlab
python-dotenv
pymongo
pandas
tqdm
sentence-transformers
langchain
langchain-community
langchain-google-genai
google-genai
newsapi-python
faiss-cpu
werkzeug
gunicorn
