flask
flask-cors
flask-jwt-extended
PyPDF2
pymupdf
reportlab
python-dotenv
pymongo
pandas
tqdm
sentence-transformers

langchain-google-genai
google-genai
newsapi-python
faiss-cpu
werkzeug
gunicorn
langchain==0.0.331
langchain-community==0.0.6
langchain-text-splitters==0.0.1
langsmith==0.0.70
